@import "color";

.header-major {
  header {
    nav {
      background-color: @nice-green;
      height: 70px;
      .brand {
        display: inline-block;
        margin-left: 70px;
        a{
          text-decoration: none;
          strong {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 25px;
            color: white;
            line-height: 70px;
          }
        }
      }
      .header-right {
        float: right;
        display: inline-block;
        margin-right: 80px;
        line-height: 70px;
        a{
          text-decoration: none;
          cursor: pointer;
        }
        .dropdown-style{
          background: none;
          color:@white;
          border: none;
          margin-top: 20px;
          font-size: 16px;
        }
        .dropdown-menu {
          min-width: 130px;
          top: 70%;
        }
      }
    }
  }
}
