@import "../../node_modules/bootstrap/less/bootstrap.less";

@import "common/main";

#account-div{
  .header-major;
  .form-top-height{
    margin-top:100px;
    .gender {
      margin-right: 5px;
      margin-left: 10px;
    }
    .degree {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}