@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "common/main";

body {
  background-color: @pale-white;
}

#account-div {
  .header-major;
  .sidebar,
  .content {
    background-color: @white;
    height: 600px;
    overflow-y: scroll;
    margin-left: -10px;
  }
  header {
    margin-bottom: 14px;
  }
  .sidebar {
    ol {
      padding-left: 0;
    }
    li {
      padding-left: 20px;
      line-height: 40px;
      border-bottom: 1px solid @light-grey;
      font-size: 15px;
      overflow: hidden;
      div {
        display: inline-block;
        width: 60%;
        a {
          cursor: pointer;
        }
        .selected {
          color:@purple;
        }
      }
    }
  }

  .form-top-height {
    margin-top: 100px;
    .gender {
      margin-right: 5px;
      margin-top: 10px;
      margin-left: 10px;
    }
    .degree {
      padding-left: 30px;
      padding-right: 30px;
    }
    .error {
      height: 0px;
      width: 20%;
      margin-left: 65%;
      margin-bottom: 0px;
      background-color: white;
      border-color: white;
      margin-top: -1%;
    }
    .select {
      border: 1px solid #a94442;
    }
    .size {
      width: 329px;
      margin-left: -14px;
    }
  }
}

.success-prompt {
  text-align: center;
  margin-left: 40%;
  margin-right: 42%;
  margin-top: -6%;
}

