#%RAML 1.0
title: TWARecurting API
description:
version: V1
baseUri: http://api.bronzesword.com/

/register:
  post:
    body:
      application/json:
        properties:
          registerInfo:
            properties:
              mobilePhone: string
              email: string
              password: string
    responses:
      200:
        description: 注册成功
      404:
        description: 邮箱或者手机号已存在
      500:
        description: 服务器错误

/register/validate-mobile-phone:
  get:
    queryParameters:
      field: string
      value: string
    responses:
      200:
        description: 手机号未注册，通过验证
      404:
        description: 手机号已经存在

/regester/validate-email:
  get:
    queryParameters:
      field: string
      value: string
    responses:
      200:
        description: 邮箱未注册，通过验证
      404:
        description: 邮箱已经存在

/logic-puzzle:
  get:
    description: 获取logic-puzzle题
    queryParameters:
      orderId: number
    responses:
      200:
        body:
          application/json:
            properties:
              item:
                properties:
                      id: number
                      initializedBox: string
                      question: string
                      descriptinon: string
                      chartPath: string
              userAnswer: number
              itemsCount: number
  post:
    body:
      application/json:
        properties:
          examerId: integer
    responses:
      200:
        description: 提交试卷成功
      500:
        description: 服务器错误

/logic-puzzle/save:
  post:
    body:
      application/json:
        properties:
          orderId: integer
          userAnswer: string
          userId: integer
    responses:
      200:
        description: 保存试卷成功
      500:
        description: 服务器错误


/logic-puzzle/dealAgree:
  put:
    body:
      application/json:
        properties:
          userId: integer
          isAgreed: string
    responses:
      200:
        description: 修改同意协议状态成功
      500:
        description: 服务器错误
