#%RAML 1.0
title: TWARecurting API
description:
version: V1
baseUri: http://api.bronzesword.com/
/register:
  post:
    body:
      application/x-www-form-urlencoded:
        properties:
          mobilePhone: string
          email: string
          password: string
    responses:
      201:
        body:
          application/json:
            properties:
              id: number
              user:
                properties:
                  uri: string
              userInfo:
                properties:
                  uri: string
/login:
  post:
    body:
      application/x-www-form-urlencoded:
        properties:
          email: string
          password: string
    responses:
      200:
        body:
          application/json:
            properties:
              id: number
              userInfo:
                properties:
                  uri: string
/users:
  get:
    queryParameters:
      field: string
      value: string
    responses:
      200:
        body:
          application/json:
            properties:
              uri: string
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              properties:
                id: integer
                email: string
                mobilePhone: string
                name: string

  /{id}/detail:
    get:
      description: 获取用户信息
      body:
        application/json:
          properties:
            userId: integer
            name: string
            school: string
            major: string
            degree: string
            gender: string
    put:
      description: 提交用户的详细信息
      body:
        application/json:
          properties:
            userId: integer
            school: string
            mobilePhone: string
            email: string
            major: string
            class: string
            birthday: integer
      responses:
        200:
          body:
            application/json:
              properties:
                userInfo:
                  properties:
                    uri: string


/scoresheets:
  get:
    description: 得到所有的成绩单
    responses:
        200:
          body:
            application/json:
              properties:
                uris: string[]

  post:
    description: 考试完毕，提交成绩单
    body:
      application/json:
        example: |
          {
            "examerId": 1,
            "paperId": 2,
            "blankQuizSubmits": [
              {
                "blankQuizId": 1,
                "itemPosts": [
                  {
                    "answer": "10",
                    "quizItemId": 3
                  }
                ]
              }
            ]
          }
        properties:
          examerId: integer
          paperId: integer
          blankQuizSubmits:
            properties:
              []:
                properties:
                  blankQuizId: integer
                  itemPosts:
                    properties:
                      []:
                        properties:
                          answer: string
                          quizItemId: integer
          [homeworkSubmits]:
            properties:
              homeworkQuizId: integer
              homeworkSubmitPostHistory:
                properties:
                  homeworkURL: string
                  version: string
    responses:
      201:
        body:
          application/json:
            type: object
            properties:
              uri: string

  /{scoresheetId}:
    get:
      description: 获取成绩单的细节
      responses:
        200:
          body:
            application/json:
              properties:
                examer:
                  properties:
                    uri: string
                paper:
                  properties:
                    uri: string
                blankQuizSubmits[]:
                  properties:
                    blankQuiz:
                      properties:
                       uri: string
                    itemPosts[]:
                      properties:
                        answer: string
                        quizItem:
                        uri: string
                homeworkSubmits[]:
                  properties:
                    homeworkQuiz:
                      properties:
                        uri: string
                    homeworkSubmitPostHistory[]:
                      properties:
                        homeworkURL: string
                        branch: string
                        version: string

/papers:
  get:
    description: 获得所有的考卷定义
    responses:
      200:
        body:
          application/json:
            properties:
              type[]:
                properties:
                  uri: string

  post:
    description: 提交一份考卷定义，含section定义
    body:
      application/json:
        properties:
          sections[]:
            properties:
              desc: string
                # description: Markdown String to discribe what happen in the future
              quizzes[]:
                properties:
                  id: integer
                  quizType: string
    responses:
      201:
        body:
          application/json:
            properties:
              uri: string
  /{paperId}:
    get:
      description: 获取一份考卷定义的细节，含section的细节
      responses:
        200:
          body:
            # description: quizzes的顺序是有含义的，所以不能乱序
            application/json:
              example: |
                {
                  "id": 1,
                  "sections": [
                    {
                      "id": 1,
                      "desc": "逻辑题",
                      "quizzes": [
                        {
                          "id": 1,
                          "definition": {
                            "uri": "blankQuizzes/1"
                            },
                          "items":{
                            "uri": "blankQuizzes/1/items"
                            }
                        }
                      ],
                      "maker":{
                        "uri": "userInfo/2"
                      }
                    }
                  ]
                }
              properties:
                id : integer
                sections:
                  properties:
                    []:
                      properties:
                        id: integer
                        desc: string
                          # description: Markdown String to discribe what happen in the future
                        quizzes:
                          properties:
                            []:
                              properties:
                                id: integer
                                definition:
                                  properties:
                                    uri: string
                                items:
                                  properties:
                                    uri: string
                        maker:
                          properties:
                            uri: string
  /enrollment:
    description: 获取固定ID的考卷定义细节
    get:
      description: 获取一份考卷定义的细节，含section的细节
      responses:
        200:
          body:
            # description: quizzes的顺序是有含义的，所以不能乱序
            application/json:
              example: |
                {
                  "id" :1,
                  "sections": [
                    {
                      "id": 1,
                      "desc": "逻辑题",
                      "quizzes": [
                        {
                          "id": 1,
                          "definition": {
                            "uri": "blankQuizzes/1"
                            },
                          "items":{
                            "uri": "blankQuizzes/1/items"
                            }
                        }
                      ],
                      "maker":{
                        "uri": "userInfo/2"
                      }
                    }
                  ]
                }
              properties:
                id: integer
                sections:
                  properties:
                    []:
                      properties:
                        id: integer
                        desc: string
                          # description: Markdown String to discribe what happen in the future
                        quizzes:
                          properties:
                            []:
                              properties:
                                id: integer
                                definition:
                                  properties:
                                    uri: string
                                items:
                                  properties:
                                    uri: string
                        maker:
                          properties:
                            uri: string

/blankQuizzes:
  get:
    # description: 获得所有的填空题定义
    responses:
      200:
        body:
          application/json:
            properties:
              blankQuizzes[]:
                properties:
                  uri: string
  post:
    description: 提交一份填空题定义
    body:
      application/json:
        properties:
          id: integer
          sectionId: integer
          type: string
          count: integer
          hardCount: integer
          normalCount: integer
          easyCount: integer
    responses:
      201:
        body:
          application/json:
            properties:
              uri: string
  /{blankQuizId}:
    get:
      #  description: 获取一份填空题的定义
      responses:
        200:
          body:
            application/json:
              properties:
                id: integer
                type: string
                  # description: class name of generator
                count: integer
                hardCount: integer
                normalCount: integer
                easyCount: integer
    /items:
      get:
        # description: 获取一组题目的内容
        responses:
          200:
            body:
              application/json:
                properties:
                  type:
                    properties:
                      []:
                        properties:
                          quizItem:
                            properties:
                              id: integer
                              initializedBox: string
                              question: string
                              description: string
                              chartPath: string
                              # 根据前台需要的数据把剩下的补完，不能有正确答案

/quizItems:
  get:
    description: 获取所有的题目项定义
    responses:
      200:
        body:
          application/json:
            properties:
              uri: string
  post:
    description: 提交一份题目项定义
    body:
      application/json:
        properties:
          id: integer
          initialedBox: string
          question: string
          description: string
          chartPath: string
    responses:
      201:
        body:
          application/json:
            properties:
              uri: string
  /{quizItemId}:
    get:
      description: 获得一份题目项定义的细节
      responses:
        200:
          body:
            application/json:
              properties:
                id: integer
                initialedBox: string
                question: string
                description: string
                chartPath: string

/homeworkQuizzes:
  get:
    description: 获得所有的homework题目定义
  post:
    description: 提交一份homework题目定义
  /{homeworkQuizId}:
    get:
      description: 获得一份homework题目定义的细节
      responses:
        200:
          body:
            application/json:
              properties:
                id: integer
                desc: string
                  # description: Markdown String to discribe homework requirement
                evaluateScript: string
                evaluateRepository: string
                  # description: git url, contain dockerFile in repository
                templateRepository: string
                  # description: git url, contain dockerFile in repository
