<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.twars.mapper.BlankQuizMapper">

    <resultMap id="blankQuizListMap" type="com.thoughtworks.twars.bean.BlankQuiz">
        <id property="id" column="id"></id>
        <result column="hardCount" property="hardCount"></result>
        <result column="normalCount" property="normalCount"></result>
        <result column="easyCount" property="easyCount"></result>
        <result column="exampleCount" property="exampleCount"></result>
    </resultMap>

    <select id="findAll" resultMap="blankQuizListMap">
        select * from blankQuiz;
    </select>

    <select id="findBySectionId" resultMap="blankQuizListMap">
        select a.* from blankQuiz a , sectionQuiz b where a.id = b.quizId AND b.sectionId  = #{sectionId};
    </select>

    <select id="findOne" resultType="com.thoughtworks.twars.bean.BlankQuiz">
        select * from blankQuiz where id = #{id};
    </select>

    <insert id="insertBlankQuiz" parameterType="com.thoughtworks.twars.bean.BlankQuiz" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blankQuiz(hardCount,normalCount,easyCount,exampleCount)
        VALUES (#{hardCount},#{normalCount},#{easyCount},#{exampleCount});
    </insert>

</mapper>
