<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.twars.mapper.BlankQuizMapper">

    <resultMap id="blankQuizListMap" type="com.thoughtworks.twars.bean.BlankQuiz">
        <id property="id" column="id"></id>
        <result column="sectionId" property="sectionId"></result>
        <result column="type" property="type"></result>
        <result column="count" property="count"></result>
        <result column="hardCount" property="hardCount"></result>
        <result column="normalCount" property="normalCount"></result>
        <result column="easyCount" property="easyCount"></result>
    </resultMap>

    <select id="findAll" resultMap="blankQuizListMap">
        select * from blankQuiz;
    </select>

    <select id="findBySectionId" resultMap="blankQuizListMap">
        select * from blankQuiz where sectionId  = #{sectionId};
    </select>

    <select id="findOne" resultType="com.thoughtworks.twars.bean.BlankQuiz">
        select * from blankQuiz where id = #{id};
    </select>

    <insert id="insertBlankQuiz" parameterType="com.thoughtworks.twars.bean.BlankQuiz" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blankQuiz(sectionId,type,hardCount,normalCount,easyCount)
        VALUES (#{sectionId},#{type},#{hardCount},#{normalCount},#{easyCount});
    </insert>

    <update id="updateBlankQuiz">
        UPDATE blankQuiz SET sectionId = #{sectionId} WHERE id = #{id};
    </update>
</mapper>
