<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.twars.mapper.BlankQuizSubmitMapper">

    <resultMap id="blankQuizSubmitListMap" type="com.thoughtworks.twars.bean.BlankQuizSubmit">
        <id property="id" column="id"></id>
        <result column="blankQuizId" property="blankQuizId"></result>
        <result column="scoreSheetId" property="scoreSheetId"></result>
        <result column="startTime" property="startTime"></result>
        <result column="endTime" property="endTime"></result>
    </resultMap>

    <insert id="insertBlankQuizSubmit" parameterType="com.thoughtworks.twars.bean.BlankQuizSubmit" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blankQuizSubmit(scoreSheetId,blankQuizId,startTime,endTime)
        VALUES (#{scoreSheetId}, #{blankQuizId}, #{startTime}, #{endTime});
    </insert>

    <select id="findByScoreSheetId" resultMap="blankQuizSubmitListMap">
        SELECT * FROM blankQuizSubmit WHERE scoreSheetId = #{scoreSheetId};
    </select>

</mapper>
