<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.twars.mapper.HomeworkPostHistoryMapper">

    <resultMap id="homeworkPostHistoryListMap" type="com.thoughtworks.twars.bean.HomeworkPostHistory">
        <id property="id" column="id"></id>
        <result column="homeworkURL" property="homeworkURL"></result>
        <result column="homeworkSubmitId" property="homeworkSubmitId"></result>
        <result column="version" property="version"></result>
        <result column="branch" property="branch"></result>
        <result column="resultURL" property="resultURL"></result>
        <result column="startTime" property="startTime"></result>
    </resultMap>

    <insert id="insertHomeworkPostHistory" parameterType="com.thoughtworks.twars.bean.HomeworkPostHistory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO homeworkPostHistory(homeworkSubmitId,homeworkURL,branch,version,status,commitTime,startTime,resultURL)
        VALUES (#{homeworkSubmitId},#{homeworkURL},#{branch},#{version},#{status},#{commitTime},#{startTime},#{resultURL});
    </insert>

    <select id="findByHomeworkSubmitId" resultMap="homeworkPostHistoryListMap">
        SELECT * FROM homeworkPostHistory WHERE homeworkSubmitId = #{homeworkSubmitId}
    </select>

</mapper>
