<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.twars.mapper.ItemPostMapper">

    <resultMap id="itemPostListMap" type="com.thoughtworks.twars.bean.ItemPost">
        <id property="id" column="id"></id>
        <result column="blankQuizSubmitId" property="blankQuizSubmitId"></result>
        <result column="quizItemId" property="quizItemId"></result>
        <result column="userAnswer" property="userAnswer"></result>
    </resultMap>

    <insert id="insertItemPost" parameterType="com.thoughtworks.twars.bean.ItemPost" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO itemPost(blankQuizSubmitId,quizItemId,userAnswer)
        VALUES (#{blankQuizSubmitId}, #{quizItemId}, #{userAnswer})
    </insert>

    <select id="findByBlankQuizSubmit" resultMap="itemPostListMap">
        SELECT * FROM itemPost WHERE blankQuizSubmitId = #{blankQuizSubmitId}
    </select>

</mapper>
