<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/BronzeSword?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="BronzeSword"/>
                <property name="password" value="12345678"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/UserMapper.xml"/>
        <mapper resource="mybatis/QuizItemMapper.xml"/>
        <mapper resource="mybatis/PaperMapper.xml"/>
        <mapper resource="mybatis/BlankQuizMapper.xml"></mapper>
        <mapper resource="mybatis/SectionMapper.xml"></mapper>
        <mapper resource="mybatis/ScoreSheetMapper.xml"></mapper>
        <mapper resource="mybatis/ItemPostMapper.xml"></mapper>
        <mapper resource="mybatis/BlankQuizSubmitMapper.xml"></mapper>
        <mapper resource="mybatis/HomeworkQuizMapper.xml"></mapper>
        <mapper resource="mybatis/HomeworkQuizItemMapper.xml"></mapper>
        <mapper resource="mybatis/HomeworkQuizScoreSheetMapper.xml"></mapper>
    </mappers>
</configuration>
