<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.twars.mapper.PaperMapper">

    <resultMap id="paperListMap" type="com.thoughtworks.twars.bean.Paper">
        <id property="id" column="id"></id>
        <result column="makerId" property="makerId"></result>
    </resultMap>

    <resultMap id="PaperResultMap" type="com.thoughtworks.twars.bean.Paper" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="makerId" property="makerId" jdbcType="INTEGER" />
        <!--        one to many     -->
        <collection property="sections" column="id" javaType="ArrayList" ofType="com.thoughtworks.twars.bean.Section"
                     select="selectPaperFromSection"/>
    </resultMap>

    <resultMap id="SectionResultMap" type="com.thoughtworks.twars.bean.Section" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <!--        one to many     -->
        <collection property="quizzes" column="id" javaType="ArrayList" ofType="com.thoughtworks.twars.bean.SectionQuiz"
                    select="selectQuizFromSectionQuiz"/>
    </resultMap>

    <select id="findAll" resultMap="paperListMap">
        select * from paper;
    </select>

    <select id="getOnePaper" resultMap="PaperResultMap">
        select * from paper where id=#{id}
    </select>

    <select id="selectPaperFromSection" parameterType="java.lang.Integer" resultMap="SectionResultMap">
        SELECT * FROM section WHERE paperId=#{paperId}
    </select>

    <select id="selectQuizFromSectionQuiz" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT quizId  FROM sectionQuiz WHERE sectionId=#{sectionId}
    </select>



    <insert id="insertPaper" parameterType="com.thoughtworks.twars.bean.Paper" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO paper(makerId)
        VALUES (#{makerId});
    </insert>


</mapper>
