<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.twars.mapper.PaperMapper">

    <resultMap id="paperListMap" type="com.thoughtworks.twars.bean.Paper">
        <id property="id" column="id"></id>
        <result column="makerId" property="makerId"></result>
    </resultMap>

    <select id="findAll" resultMap="paperListMap">
        select * from paper;
    </select>
</mapper>
