<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.twars.mapper.PasswordRetrieveDetailMapper">

    <select id="getDetailByToken" parameterType="String" resultType="com.thoughtworks.twars.bean.PasswordRetrieveDetail">
        SELECT * FROM passwordRetrieveDetail WHERE token = #{token};
    </select>

    <select id="getDetailByEmail" parameterType="String" resultType="com.thoughtworks.twars.bean.PasswordRetrieveDetail">
        SELECT * FROM passwordRetrieveDetail WHERE email = #{email} AND token IS NOT NULL;
    </select>

    <insert id="updateDetailByEmail" parameterType="String" useGeneratedKeys="true" keyProperty="id">
        REPLACE INTO passwordRetrieveDetail(email,token,retrieveDate) values(#{email},MD5(RAND()),UNIX_TIMESTAMP());
    </insert>

    <insert id="insertDetail" parameterType="com.thoughtworks.twars.bean.PasswordRetrieveDetail" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO passwordRetrieveDetail(email, token, retrieveDate)
        VALUES (#{email}, MD5(RAND()), UNIX_TIMESTAMP());
    </insert>

    <update id="setNullToken" parameterType="String">
        UPDATE passwordRetrieveDetail SET token = null, retrieveDate = NULL WHERE email = #{email};
    </update>

</mapper>
