<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.twars.mapper.QuizItemMapper">

    <resultMap id="quizItemListMap" type="com.thoughtworks.twars.bean.QuizItem">
        <id property="id" column="id"></id>
        <result property="initializedBox" column="initializedBox"></result>
        <result property="questionZh" column="questionZh"></result>
        <result property="descriptionZh" column="descriptionZh"></result>
        <result property="chartPath" column="chartPath"></result>
    </resultMap>

    <select id="getAllQuizItems" resultType="com.thoughtworks.twars.bean.QuizItem">
        SELECT * FROM quizItem
    </select>

    <insert id="insertQuizItem" parameterType="com.thoughtworks.twars.bean.QuizItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO quizItem(initializedBox,stepsString,count,questionZh,stepsLength,answer,maxUpdateTimes,descriptionZh,chartPath,infoPath)
        VALUES (#{initializedBox},#{stepsString},#{count},#{questionZh},#{stepsLength},#{answer},#{maxUpdateTimes},#{descriptionZh},#{chartPath},#{infoPath})
    </insert>

    <select id="getQuizItemById" resultType="com.thoughtworks.twars.bean.QuizItem" >
        SELECT * FROM quizItem WHERE id = #{id}
    </select>

    <select id="getEasyItems" resultMap="quizItemListMap" flushCache="true" useCache="false">
        select * from quizItem where count between 0 and 25 order by rand() limit #{easyCount}
    </select>

    <select id="getNormalItems" resultMap="quizItemListMap" flushCache="true" useCache="false">
        select * from quizItem where count between 26 and 33 order by rand()  limit #{normalCount}
    </select>

    <select id="getHardItems" resultMap="quizItemListMap" flushCache="true" useCache="false">
        select * from quizItem where count between 34 and 50 order by rand()  limit #{hardCount}
    </select>

    <select id="getExampleItems" resultMap="quizItemListMap">
        <![CDATA[
            select * from quizItem where count  <  15 limit #{exampleCount};
        ]]>
    </select>
</mapper>