<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.twars.mapper.ScoreSheetMapper">

    <resultMap id="scoreSheetsMap" type="com.thoughtworks.twars.bean.ScoreSheet">
        <id property="id" column="id"></id>
        <result column="examerId" property="examerId"></result>
        <result column="paperId" property="paperId"></result>
    </resultMap>

    <resultMap id="examersMap" type="int">
        <result column="examerId" property="examerId"></result>
    </resultMap>

    <select id="findAll" resultMap="scoreSheetsMap">
        SELECT * FROM scoreSheet;
    </select>

    <select id="findOne" resultType="com.thoughtworks.twars.bean.ScoreSheet">
        SELECT * FROM scoreSheet WHERE id = #{id};
    </select>

    <insert id="insertScoreSheet" parameterType="com.thoughtworks.twars.bean.ScoreSheet" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO scoreSheet(examerId,paperId) VALUES(#{examerId},#{paperId});
    </insert>

    <select id="selectScoreSheet" resultType="com.thoughtworks.twars.bean.ScoreSheet">
        SELECT * FROM scoreSheet WHERE examerId = #{examerId} AND paperId = #{paperId};
    </select>

    <select id="findOneByUserId" resultType="com.thoughtworks.twars.bean.ScoreSheet">
        SELECT * FROM scoreSheet WHERE examerId = #{userId};
    </select>

    <select id="findByPaperId" resultMap="scoreSheetsMap">
        SELECT * FROM scoreSheet WHERE paperId = #{paperId};
    </select>
    <select id="findUserIdsByPaperId" resultMap="examersMap">
        SELECT examerId FROM scoreSheet WHERE paperId = #{paperId};
    </select>

</mapper>
