<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.twars.mapper.SectionQuizMapper">

    <resultMap id="SectionQuizList" type="com.thoughtworks.twars.bean.SectionQuiz">
        <id property="id" column="id"></id>
        <result column="quizId" property="quizId"></result>
        <result column="sectionId" property="sectionId"></result>
    </resultMap>

    <select id="findBySectionId" resultMap="SectionQuizList">
        SELECT * FROM sectionQuiz WHERE sectionId = #{sectionId};
    </select>

    <insert id="insertSectionQuiz"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sectionQuiz(sectionId,quizId)
        VALUES (#{sectionId},#{quizId});
    </insert>
</mapper>
