<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.twars.mapper.SectionMapper">

    <resultMap id="sectionListMap" type="com.thoughtworks.twars.bean.Section">
        <id property="id" column="id"></id>
        <result column="paperId" property="paperId"></result>
        <result column="description" property="description"></result>
    </resultMap>

    <select id="getSectionsByPaperId" resultMap="sectionListMap">
        select * from section where paperId = #{paperId};
    </select>

    <insert id="insertSection" parameterType="com.thoughtworks.twars.bean.Section" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO section(paperId,description,type) VALUES(#{paperId},#{description},#{type});
    </insert>

</mapper>